<div class="contenedormensaje" *ngIf="!dataCliente.cliente">
    <h2>No hay cliente seleccionado</h2>
</div>
<div class="mx-auto" *ngIf="dataCliente.cliente">
    <div class="card">
        <div class="header" >
            <h2>Informacion del cliente</h2>
        </div>      
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">Nombre: {{dataCliente.cliente.persona.nombre}}</li>
                <li class="list-group-item d-flex justify-content-between align-items-center">Apellido: {{dataCliente.cliente.persona.apellido}}</li>
                <li class="list-group-item d-flex justify-content-between align-items-center">Correo: {{dataCliente.cliente.persona.correo}}</li>
                <li class="list-group-item d-flex justify-content-between align-items-center">Direccion: {{dataCliente.cliente.persona.direccion}}</li>
                <li class="list-group-item d-flex justify-content-between align-items-center">Identificacion: {{dataCliente.cliente.persona.identificacion}}</li>
                <li class="list-group-item d-flex justify-content-between align-items-center">Descuento: {{dataCliente.cliente.valorDescuento}}
                    <ng-template #popContent> Nuevo descuento: <input type="number" [(ngModel)]="descuento" min="1"> <button type="button" class="btn btn-outline-dark" (click)="ModificarDescuento()">Asignar</button>
                </ng-template>
                    <button
                      type="button" class="btn btn-outline-dark" popoverTitle="Modificar descuento"
                      [autoClose]="'outside'" [ngbPopover]="popContent"
                    >
                      Opciones
                    </button></li>
                <li class="list-group-item d-flex justify-content-between align-items-center">Rol: {{dataCliente.cliente.persona.rol}}
                    <ng-template #popContent1>Nuevo rol:
                        <div>
                            <select  [(ngModel)]="rolcliente" >
                                <option value="Rol.Cliente">Rol cliente</option>
                                <option value="Rol.Admin">Rol administrador</option>
                                </select> 
                            <button type="button" class="btn btn-outline-dark" (click)="ModificarRol()">Asignar</button>
                        </div>
                        
                    </ng-template>
                    <button
                      type="button" class="btn btn-outline-dark" [ngbPopover]="popContent1" popoverTitle="Modificar rol"
                      [autoClose]="'outside'" 
                    >                  
                      Opciones
                    </button> </li>
            </ul>
        </div>
    </div>
</div>
