
<div class="mx-auto">
    <div class="card">
        <div class="header" >
            <h2>Informacion del cliente</h2>
        </div>      
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Nombre: {{dataCliente.cliente.persona.nombre}}</li>
                <li class="list-group-item">Apellido: {{dataCliente.cliente.persona.apellido}}</li>
                <li class="list-group-item">Correo: {{dataCliente.cliente.persona.correo}}</li>
                <li class="list-group-item">Descuento: {{dataCliente.cliente.valorDescuento}}</li>
            </ul>
        </div>
    </div>
</div>
