<div class="Contenedor-form shadow-lg p-3 mb-5 rounded">
    <div class="center">
        <h2>Registro producto</h2>
    </div>
    <form [formGroup]="registroProductoForm" (ngSubmit)="onSubmit()">
        <div class="div1">
            <div class="form-row">
                <div class="form-group col-md-6 ">
                    <input type="text" class="form-control" id="inputNombreProducto" name="inputNombreProducto" formControlName="inputNombreProducto"
                        [(ngModel)]="producto.nombreProducto" placeholder="Nombre del producto" [ngClass]="{ 'is-invalid': submitted && f.inputNombreProducto.errors}">
                        <div *ngIf="submitted && f.inputNombreProducto.errors" class="invalid-feedback">
                            <div *ngIf="f.correo?.inputNombreProducto.required">El nombre del producto es requerida</div>
                          </div>
                </div>
                <div class="form-group col-md-6 ">
                    <input type="number" class="form-control" id="inputPrecio" name="inputPrecio" formControlName="inputPrecio" [ngClass]="{ 'is-invalid': submitted && f.inputPrecio.errors}"
                        [(ngModel)]="producto.valorUnitario" placeholder="Precio">
                        <div *ngIf="submitted && f.inputPrecio.errors" class="invalid-feedback">
                            <div *ngIf="f.inputPrecio.required">El valor es requerido</div>
                          </div>
                </div>
            </div>
        </div>
        <div class="div1">
            <div class="form-row">
                <div class="form-group col-md-6 ">
                    <input type="number" class="form-control" id="inputCantidadRegistrar" name="inputCantidadRegistrar" formControlName="inputCantidadRegistrar" [ngClass]="{ 'is-invalid': submitted && f.inputCantidadRegistrar.errors}"
                        [(ngModel)]="producto.cantidadEnStock" placeholder="cantidad a registrar">
                        <div *ngIf="submitted && f.inputCantidadRegistrar.errors" class="invalid-feedback">
                            <div *ngIf="f.inputCantidadRegistrar.required">La cantidad es requerida</div>
                          </div>
                </div>
                <div class="form-group col-md-6 ">
                    <select class="form-control selectCategoria" id="selectCategoria" [(ngModel)]="producto.categoria" formControlName="selectCategoria" [ngClass]="{ 'is-invalid': submitted && f.selectCategoria.errors}"
                        name="selectCategoria" placeholder="Seleccione producto">
                        <option>Categoria producto</option>
                        <option value="Res">Res</option>
                        <option value="Pollo">Pollo</option>
                        <option value="Cerdo">Cerdo</option>
                    </select>
                    <div *ngIf="submitted && f.selectCategoria.errors" class="invalid-feedback">
                        <div *ngIf="f.selectCategoria.required">La categoria es requerida</div>
                      </div>
                </div>

            </div>
        </div>
        <div>

            <div class=" div1 ">
                <div class="form-group div-descripcion">

                    <label for="exampleFormControlTextarea1">Descripcion del producto</label>
                    <textarea class="form-control" id="inputDescripcion" name="inputDescripcion" formControlName="inputDescripcion" [ngClass]="{ 'is-invalid': submitted && f.inputDescripcion.errors}"
                        [(ngModel)]="producto.descripcion" rows="2"></textarea>
                        <div *ngIf="submitted && f.inputDescripcion.errors" class="invalid-feedback">
                            <div *ngIf="f.inputDescripcion.required">La descripcion es requerida</div>
                          </div>
                </div>
            </div>
            <div class="">
                <div class="form-group col-md-6 ">
                    <div class="subirImagen">
                        <label for="inputLicenciaConducir">Insertar foto/Imagen del producto</label>
                        <input type="file" class="form-control  d-none " (change)="CargarImagen($event)" #SubirImagen 
                            id="inputImagen" >
                        <div class="Contenedor-form shadow-lg p-3 mb-5 rounded div-imagen">
                            <img [src]=" imagenSelected || 'assets/Imagenes/no-imagen.png'" class=" img-fluid "
                                alt="..." id="No Imagen" (click)="SubirImagen.click()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!--
        <div>
            <div class="div1">
                <div class="div-cat">
                    <div ngbDropdown class="d-inline-block div-tag-btn">
                        <button class="btn " id="dropdownBasic1" ngbDropdownToggle>Agregar etiqueta</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem>Sudar </button>
                            <button ngbDropdownItem>Asar</button>
                            <button ngbDropdownItem>Estofar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div1">
                <table class="table" >
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">etiqueta</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tag of ListaTag; index as i ">
                            <th class="celdas" scope="row">{{ i + 1 }}</th>
                            <td class="celdas">{{ tag }} </td>
                            <td class="celdas"><button class="btn " id="Eliminar">X</button></td>
                        </tr>
        
                    </tbody>
                </table>
            </div>
        </div>
        (click)="add()"
    -->

        <div class="posicionboton">
            <button class="btn btn-outline-secondary" >Registrar</button>
        </div>
    </form>


</div>