.carrito{
    background-color:rgba(0, 0, 0, .9);
    color: white;
    height: 100%;
    width: 380px;
    display: block; 
    align-items: center;
    justify-items: center;
    text-align: center;
       
}
.contenido{
    height: 450px;
    overflow:auto;
}

.lineaTitulo{
    background-color: white ;
    width: 280px;
}

.carrito .btn {
    color: white;
    width: 360px;
    margin: 5px;
}

.carrito .btn:hover{
    background-color: #400112;
}

.Nombre-img{
    float:left;
    width:40%;
}
.Informacion-valor{
    float:left;
    width:60%;
}
.Informacion-valor input{
    width: 50px;
    border-radius: 5px;
    
}


.Producto-carrito{
    background-color:#400112;
    height: 140px;
    width: 380px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    border-radius: 3px;
}


