<div  class="carrito-collapsed " class="carrito">
    <div id="cabecera">
        
        <label> Tu Carrito </label>
        <hr class="lineaTitulo">
    </div>
    


    <div id="contenido" class="contenido">
        <label id="lbListaVacia" *ngIf="!DetalleFacturas"> TU CARRITO ESTÁ VACÍO </label>

        <div *ngFor="let DetalleFactura of DetalleFacturas; let i = index" data-spy="scroll" data-target="#navbar-example3" data-offset="0" >
            <div class="Producto-carrito">
                <div class="Nombre-img">
                    <img [src]="DetalleFactura.productoDetalle.imagenProducto" style="width: 8rem; height: 5rem;">
                    <label >Producto: {{DetalleFactura.productoDetalle.nombreProducto}}</label>
                </div>
                <div class="Informacion-valor">
                    <label>Valor Unitario: {{DetalleFactura.valorUnitario}}</label>
                    <div>
                        <label>Cantidad:</label>
                        <input type="number" min="1" [(ngModel)]="DetalleFactura.cantidadRequerida" (ngModelChange)="ModificarCantidad(i)" >
                    </div>
                    
                    <label >SubTotal: {{NuevoSubtotal[i]}}</label>
                </div>

            </div>
        </div>

        
    </div>
    <div>
        <hr class="lineaTitulo">
        <button class="btn d-flex justify-content-center" [routerLink]="['/productoCarrito']" >Realizar Pedido</button>
    </div>



</div>
