<div class="Container-fluid shadow p-3 mb-5 bg-white rounded">
    
    <h2 *ngIf="hayProducto" class="d-flex justify-content-center">No hay producto registrados</h2>
    <div class=" row">
        <div class="col-md-4 p-4" *ngFor="let Producto of Productos | filtroProducto:categoria | slice: (page-1) * pageSize : page * pageSize  ">
            

            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title d-flex justify-content-center">{{Producto.nombreProducto}}</h5>
                </div>
                <img class="card-img-top" [src]="Producto.imagenProducto" alt="Card image cap" >
                <div class="card-body">
                  <div>
                    <p class="card-text">Precio : {{Producto.valorUnitario}}</p>
                    <p class="card-text">Descripcion: {{Producto.descripcion}}</p>
                  </div>
                  <div>
                    <input type="number" min="1">
                    <button   class="btn btn-primary d-flex justify-content-center" (click)="addCarrito(Producto)">Añadir al carrito</button >
                    <button   class="btn btn-primary d-flex justify-content-center">Ver mas</button >
                  </div>


                </div>
              </div>

            
        </div>
    </div>

    <div>
        <ngb-pagination class="d-flex justify-content-center"
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="Productos.length"></ngb-pagination>
    </div>
</div>
